header {
	background: rgba(250, 250, 250, 0.7);
	box-shadow: 0 8px 32px 0 rgba(255, 102, 0, 0.25);
	backdrop-filter: blur(8px);
	border: 1px solid rgba(255, 255, 255, 0.75);
	padding: var(--marge-between-2-mobile);
	mat-toolbar-row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		.user-info {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			gap: var(--marge-between-2-mobile);
			button {
				margin-left: auto;
			}
		}
	}
	@media (min-width: 768px) {
		padding: var(--marge-between-2-mobile);
		mat-toolbar-row {
			.user-info {
				gap: var(--marge-between-2-mobile);
			}
		}
	}
}

section.container {
	padding-inline: 10%;
	flex-grow: 1;
	display: flex;
	margin-bottom: var(--marge-h-mobile);
	@media (min-width: 768px) {
		margin-bottom: var(--marge-h-desktop);
	}
}
