@use "@angular/material" as mat;
@import "theme";

:host {
	display: flex;
	flex-direction: column;
	gap: 4px;
	padding: 1px 8px;
	overflow-x: hidden;
}

mat-card {
	border-radius: var(--radius-mobile);
	background: rgba(250, 250, 250, 0.75);
	box-shadow: 0 0px 0px 1px rgba(255, 186, 0, 0.5);
	padding: var(--marge-between-3-mobile);
	border: 1px solid rgba(255, 255, 255, 0.8);
	transition: all 0.2s linear;
	&:not(.editing):is(:hover, .selected) {
		background: rgba(255, 186, 0, 0.35);
		transform: scale(1.02);
		margin: 8px;
		h3,
		.p4,
		.p2 {
			font-weight: 800;
		}
		mat-card-content {
			display: block;
		}
		&.selected {
			background: rgba(255, 186, 0, 0.5);
		}
	}
	&:not(.editing).completed {
		box-shadow: 0 0px 0px 1px rgba(255, 102, 0, 0.5);
		&:is(:hover, .selected) {
			background: rgba(255, 102, 0, 0.35);
			&.selected {
				background: rgba(255, 102, 0, 0.5);
			}
		}
	}
	&.editing {
		background: rgba(250, 250, 250, 0.75);
	}
	&.dragabble {
		&:not(.editing) mat-card-content {
			padding-left: 30px;
		}
	}
	mat-card-header {
		padding: 0;
		button.drag-indicator {
			margin-left: 0;
			cursor: grab;
		}
		mat-card-title-group > ::ng-deep div {
			width: 100%;
		}
		mat-card-title {
			display: flex;
			justify-content: space-between;
			button {
				--mdc-fab-small-container-color: #{mat.get-color-from-palette($atom-challenge-fe-template-primary)};
				&.completed {
					--mdc-fab-small-container-color: #{mat.get-color-from-palette(
							$atom-challenge-fe-template-primary,
							500
						)};
				}
			}
		}
	}
	mat-card-content {
		padding: 0;
		padding-block: 4px;
		// text-wrap: balance;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		line-clamp: 3;
		overflow: hidden;
	}
	mat-card-actions {
		padding: 0;
		min-height: auto;
		gap: 8px;
		button {
			&.edit {
				background: #{mat.get-color-from-palette($atom-challenge-fe-template-primary, 700)};
			}
			&.delete {
				background: #{mat.get-color-from-palette($warn-palette-template)};
			}
			&.back {
				background: #{mat.get-color-from-palette($atom-challenge-fe-template-primary, 500)};
			}
		}
	}
	@media (min-width: 768px) {
		padding: var(--marge-between-3-desktop);
		border-radius: var(--radius-desktop);
	}
}

form {
	display: flex;
	flex-direction: column;
}

p.p3 {
	text-align: center;
	padding-top: 5%;
}
