<section class="main-container">
	<mat-card>
		<mat-card-header [class.with-form]="showForm">
			@if (showForm) {
			<app-form @showFormTrigger (reloadTasks)="$event ? readAll() : showForm = false"></app-form>
			} @else {
			<button @showAddButtonTrigger mat-fab extended color="primary" (click)="showForm = !showForm">
				<mat-icon inline> add </mat-icon>
				Crear nueva tarea
			</button>
			}
		</mat-card-header>
		<mat-card-content [class.compact]="!fullModeSignal()">
			<section class="panel pending"
				[ngClass]="{initial: panel.LEFT === null && panel.RIGHT === null, expanded: panel.LEFT && fullModeSignal()}">
				<mat-accordion [hideToggle]="fullModeSignal()" [class.full-mode]="fullModeSignal()">
					<mat-expansion-panel expanded #matAccordionLeft>
						<mat-expansion-panel-header [class.prevent-click]="fullModeSignal()">
							<mat-panel-title>
								<mat-chip-set>
									<mat-chip>
										<span matChipAvatar></span>
										Pendiente {{tasksByFilterSignal().PENDING.length}}
									</mat-chip>
								</mat-chip-set>
							</mat-panel-title>
						</mat-expansion-panel-header>
						@if (matAccordionLeft.expanded) {
						<app-task [userTasks]="tasksByFilterSignal().PENDING" (reloadTasks)="readAll()"></app-task>
						}
					</mat-expansion-panel>
				</mat-accordion>
			</section>
			@if (fullModeSignal()) {
			<section class="expand-buttons">
				<button mat-icon-button color="primary" class="right" [class.expanded]="panel.LEFT"
					(click)="expanded('LEFT')">
					<mat-icon>{{!panel.LEFT ? "keyboard_tab": "start"}}</mat-icon>
				</button>
				<mat-divider vertical></mat-divider>
				<button mat-icon-button color="primary" class="left" [class.expanded]="panel.RIGHT"
					(click)="expanded('RIGHT')">
					<mat-icon>{{!panel.RIGHT ? "keyboard_tab": "start"}}</mat-icon>
				</button>
			</section>
			}
			<section class="panel completed"
				[ngClass]="{initial: panel.LEFT === null && panel.RIGHT === null, expanded: panel.RIGHT && fullModeSignal()}">
				<mat-accordion [hideToggle]="fullModeSignal()" [class.full-mode]="fullModeSignal()">
					<mat-expansion-panel expanded #matAccordionRight>
						<mat-expansion-panel-header [class.prevent-click]="fullModeSignal()">
							<mat-panel-title>
								<mat-chip-set>
									<mat-chip>
										<span matChipAvatar></span>
										Completado {{tasksByFilterSignal().COMPLETED.length}}
									</mat-chip>
								</mat-chip-set>
							</mat-panel-title>
						</mat-expansion-panel-header>
						@if (matAccordionRight.expanded) {
						<app-task [userTasks]="tasksByFilterSignal().COMPLETED" (reloadTasks)="readAll()"></app-task>
						}
					</mat-expansion-panel>
				</mat-accordion>
			</section>
		</mat-card-content>
	</mat-card>
</section>