:host {
	width: 100%;
}

form {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
	padding: 8px;
	mat-checkbox {
		text-align: center;
		margin-top: -8px;
	}
	.actions {
		display: flex;
		justify-content: center;
		column-gap: calc(var(--marge-h-mobile) * 2);
		> button {
			min-width: 120px;
		}
	}
	@media (min-width: 768px) {
		.actions {
			column-gap: calc(var(--marge-h-desktop) * 2);
		}
	}
}
