@use "@angular/material" as mat;
@import "theme";
@import "variables";
@import "responsive-fonts";
@import "responsive-icon-fonts";

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3 {
	margin: 0;
	line-height: 1.35;
	font-family: Inter;
}
h1 {
	@include responsive-font(1.76vw, $font-size-h1-mobile, $font-size-h1-desktop, $font-size-h1-desktop, false, true);
}
h2 {
	@include responsive-font(1.52vw, $font-size-h2-mobile, $font-size-h2-desktop, $font-size-h2-desktop, false, true);
}
h3 {
	@include responsive-font(1.29vw, $font-size-h3-mobile, $font-size-h3-desktop, $font-size-h3-desktop, false, true);
}

p {
	@include responsive-font(1.17vw, $font-size-p1-mobile, $font-size-p1-desktop, $font-size-p1-desktop);
	margin: 0;
	line-height: 1.35;
	&.p1 {
		@include responsive-font(1.17vw, $font-size-p1-mobile, $font-size-p1-desktop, $font-size-p1-desktop);
	}
	&.p2 {
		@include responsive-font(0.94vw, $font-size-p2-mobile, $font-size-p2-desktop, $font-size-p2-desktop);
	}
	&.p3 {
		@include responsive-font(0.82vw, $font-size-p3-mobile, $font-size-p3-desktop, $font-size-p3-desktop);
	}
	&.p4 {
		@include responsive-font(0.7vw, $font-size-p4-mobile, $font-size-p4-desktop, $font-size-p4-desktop);
	}
}

/* CONTAINER */
section.main-container {
	height: 100%;
	padding-inline: 1%;
	&:has(header) {
		display: flex;
		flex-direction: column;
		padding-inline: 0;
		gap: var(--marge-h-mobile);
	}
	@media (min-width: 768px) {
		&:has(header) {
			gap: var(--marge-h-desktop);
		}
	}
}

/* MODULES */
.module {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	section.main-container {
		height: initial;
		padding-inline: 0;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		// border-radius: var(--radius-mobile);
	}
	@media (min-width: 768px) {
		// section.main-container {
		// 	border-radius: var(--radius-desktop);
		// }
	}
}

/* FORM FIELDS */
.mat-mdc-form-field {
	@include responsive-font(
		1.17vw,
		$input-font-size-mobile,
		$input-font-size-desktop,
		$input-font-size-desktop,
		false,
		true
	);
	--mat-form-field-container-text-weight: 500;
	--mat-form-field-container-vertical-padding: var(--marge-between-2-mobile);
	.mdc-notched-outline__notch {
		--mat-mdc-form-field-floating-label-scale: 0.9;
		.mat-mdc-floating-label {
			top: 50% !important;
			&.mdc-floating-label--float-above {
				transform: translateY(calc(calc(4px + var(--mat-form-field-container-height) / 2) * -1))
					scale(var(--mat-mdc-form-field-floating-label-scale)) !important;
			}
		}
	}
	.mat-mdc-form-field-infix {
		--mat-form-field-container-height: auto;
		--mdc-outlined-text-field-input-text-placeholder-color: rgba(0, 0, 0, 0.3);
	}
	@media (min-width: 768px) {
		--mat-form-field-container-vertical-padding: var(--marge-between-2-desktop);
	}
}
mat-form-field {
	mat-label {
		@include responsive-font(
			0.94vw,
			$input-title-font-size-mobile,
			$input-title-font-size-desktop,
			$input-title-font-size-desktop
		);
		font-weight: 600;
	}
	mat-error {
		@include responsive-font(
			0.7vw,
			$input-info-font-size-mobile,
			$input-info-font-size-desktop,
			$input-info-font-size-desktop
		);
		font-weight: 500;
	}
}

/* INPUTS */
/* Outline */
.mdc-text-field--outlined {
	--mdc-outlined-text-field-container-shape: var(--radius-mobile);
	@media (min-width: 768px) {
		--mdc-outlined-text-field-container-shape: var(--radius-desktop);
	}
}

/* BUTTONS */
/* Flat */
.mat-mdc-unelevated-button {
	@include responsive-font(1.06vw, $font-size-b1-mobile, $font-size-b1-desktop, $font-size-b1-desktop, false, true);
	--mdc-filled-button-label-text-tracking: 0;
	height: calc(var(--mdc-filled-button-container-height) - 6px) !important;
	--mat-filled-button-horizontal-padding: var(--button-padding-h-mobile);
	--mdc-filled-button-container-shape: var(--button-primary-radius-mobile);
	&.secondary-button {
		@include responsive-font(
			0.82vw,
			$font-size-b2-mobile,
			$font-size-b2-desktop,
			$font-size-b2-desktop,
			false,
			true
		);
		--mdc-filled-button-container-shape: var(--button-secondary-radius-mobile);
	}
	&:focus {
		box-shadow: 0px 0px 1px 0px black;
	}
	&:hover {
		box-shadow: 0px 0px 2px 0px black;
	}
	&:active {
		box-shadow: 0px 0px 4px 0px black;
	}
	@media (min-width: 768px) {
		height: var(--mdc-filled-button-container-height) !important;
		--mat-filled-button-horizontal-padding: var(--button-padding-h-desktop);
		--mdc-filled-button-container-shape: var(--button-primary-radius-desktop);
		&.secondary-button {
			--mdc-filled-button-container-shape: var(--button-secondary-radius-desktop);
		}
	}
}
/* Stroked */
.mat-mdc-outlined-button {
	@include responsive-font(1.06vw, $font-size-b1-mobile, $font-size-b1-desktop, $font-size-b1-desktop, false, true);
	--mdc-outlined-button-label-text-tracking: 0;
	height: calc(var(--mdc-outlined-button-container-height) - 6px) !important;
	--mat-outlined-button-horizontal-padding: var(--button-padding-h-mobile);
	--mdc-outlined-button-container-shape: var(--button-primary-radius-mobile);
	--mdc-outlined-button-outline-color: rgba(255, 102, 0, 0.3) !important;
	&.secondary-button {
		@include responsive-font(
			0.82vw,
			$font-size-b2-mobile,
			$font-size-b2-desktop,
			$font-size-b2-desktop,
			false,
			true
		);
		--mdc-outlined-button-container-shape: var(--button-secondary-radius-mobile);
	}
	&:focus {
		box-shadow: 0px 0px 1px 0px mat.get-color-from-palette($atom-challenge-fe-template-primary, 800);
	}
	&:hover {
		box-shadow: 0px 0px 2px 0px mat.get-color-from-palette($atom-challenge-fe-template-primary, 800);
	}
	&:active {
		box-shadow: 0px 0px 4px 0px mat.get-color-from-palette($atom-challenge-fe-template-primary, 800);
	}
	@media (min-width: 768px) {
		height: var(--mdc-outlined-button-container-height) !important;
		--mat-outlined-button-horizontal-padding: var(--button-padding-h-desktop);
		--mdc-outlined-button-container-shape: var(--button-primary-radius-desktop);
		&.secondary-button {
			--mdc-outlined-button-container-shape: var(--button-secondary-radius-desktop);
		}
	}
}
/* Extended Fab */
.mat-mdc-extended-fab {
	@include responsive-font(1.06vw, $font-size-b1-mobile, $font-size-b1-desktop, $font-size-b1-desktop, false, true);
	--mdc-extended-fab-label-text-tracking: 0;
	--mdc-extended-fab-container-height: 40px;
	height: calc(var(--mdc-extended-fab-container-height) - 6px) !important;
	padding: var(--button-padding-h-mobile) !important;
	--mdc-extended-fab-container-shape: var(--button-primary-radius-mobile);
	mat-icon {
		@include responsive-icon-font(
			1.06vw,
			$font-size-b1-mobile,
			$font-size-b1-desktop,
			$font-size-b1-desktop,
			false,
			true
		);
		height: auto !important;
		margin-left: calc(var(--marge-between-3-mobile) - var(--button-padding-h-mobile)) !important;
		margin-right: var(--marge-between-3-mobile) !important;
	}
	&.secondary-button {
		@include responsive-font(
			0.82vw,
			$font-size-b2-mobile,
			$font-size-b2-desktop,
			$font-size-b2-desktop,
			false,
			true
		);
		--mdc-extended-fab-container-shape: var(--button-secondary-radius-mobile);
		mat-icon {
			@include responsive-icon-font(
				0.82vw,
				$font-size-b2-mobile,
				$font-size-b2-desktop,
				$font-size-b2-desktop,
				false,
				true
			);
		}
	}
	@media (min-width: 768px) {
		height: var(--mdc-extended-fab-container-height) !important;
		padding: var(--button-padding-h-desktop) !important;
		--mdc-extended-fab-container-shape: var(--button-primary-radius-desktop);
		mat-icon {
			margin-left: calc(var(--marge-between-3-desktop) - var(--button-padding-h-desktop)) !important;
			margin-right: var(--marge-between-3-desktop) !important;
		}
		&.secondary-button {
			--mdc-extended-fab-container-shape: var(--button-secondary-radius-desktop);
		}
	}
}
/* Icon */
.mat-mdc-icon-button {
	@include responsive-icon-font(
		1.52vw,
		$font-size-h2-mobile,
		$font-size-h2-desktop,
		$font-size-h2-desktop,
		true,
		true
	);
	margin: 6px;
	.mat-mdc-button-touch-target {
		@include responsive-icon-font(
			1.52vw,
			$font-size-h2-mobile,
			$font-size-h2-desktop,
			$font-size-h2-desktop,
			true,
			true
		);
	}
	mat-icon {
		@include responsive-icon-font(
			1.52vw,
			$font-size-h2-mobile,
			$font-size-h2-desktop,
			$font-size-h2-desktop,
			true,
			true
		);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

/* DIALOGS */
mat-dialog-container {
	--mdc-dialog-container-shape: var(--radius-mobile);
	.mdc-dialog__title::before {
		content: none !important;
	}
	.mat-mdc-dialog-title {
		--mat-dialog-headline-padding: 9px 24px;
	}
	mat-dialog-content {
		padding-block: var(--marge-between-1-mobile) !important;
	}
	@media (min-width: 768px) {
		--mdc-dialog-container-shape: var(--radius-desktop);
		mat-dialog-content {
			padding-block: var(--marge-between-1-desktop) !important;
		}
	}
}

.loading-dialog {
	.mat-mdc-dialog-surface {
		background: transparent !important;
		box-shadow: none !important;
	}
}

/* NOTIFICATION */
mat-snack-bar-container {
	opacity: 0.9 !important;
	--mdc-snackbar-container-shape: var(--radius-mobile);
	border-radius: var(--mdc-snackbar-container-shape);
	--mdc-snackbar-supporting-text-weight: 500;
	.mdc-snackbar__surface::before {
		content: none;
	}

	.mdc-snackbar__label {
		padding: var(--marge-between-2-mobile);
		p.p2 {
			@extend .p2;
		}
	}

	&.success-notification {
		--mdc-snackbar-container-color: #{mat.get-color-from-palette($atom-challenge-fe-template-primary, 800)};
		box-shadow: 0 8px 32px 0 rgba(255, 135, 0, 0.25);
	}
	&.error-notification {
		--mdc-snackbar-container-color: #{mat.get-color-from-palette($my-warn)};
		box-shadow: 0 8px 32px 0 rgba(255, 85, 73, 0.5);
	}

	@media (min-width: 768px) {
		--mdc-snackbar-container-shape: var(--radius-desktop);
		.mdc-snackbar__label {
			padding: var(--marge-between-2-desktop);
		}
	}
}

/* CHIPS */
mat-chip.mat-mdc-chip.mat-mdc-standard-chip {
	--mdc-chip-container-shape-radius: var(--button-primary-radius-mobile);
	margin-block: 0;
	.mat-mdc-chip-graphic {
		height: auto;
		width: auto;
		padding-inline: 12px 4px !important;
		.mat-mdc-chip-avatar {
			@include responsive-icon-font(
				0.82vw,
				$font-size-b2-mobile,
				$font-size-b2-desktop,
				$font-size-b2-desktop,
				true
			);
		}
	}
	--mdc-chip-label-text-tracking: 0;
	--mdc-chip-label-text-weight: 500;
	.mat-mdc-chip-action-label {
		@include responsive-font(1.06vw, $font-size-b1-mobile, $font-size-b1-desktop, $font-size-b1-desktop, true);
	}
	@media (min-width: 768px) {
		--mdc-chip-container-shape-radius: var(--button-primary-radius-desktop);
	}
}
