///
/// Viewport sized icon with minimum and maximum values
///
///
/// @param {Number}   $responsive  - Viewport-based size
/// @param {Number}   $min         - Minimum font size (px)
/// @param {Number}   $max         - Maximum font size (px)
///                                  (optional)
/// @param {Number}   $fallback    - Fallback for viewport-
///                                  based units (optional)
/// @param {Boolean}   $height      - If height should be equal as width (optional)
/// @param {Boolean}   $important  - If font size should be !important (optional)
///
@mixin responsive-icon-font($responsive, $min, $max: false, $fallback: false, $height: false, $important: false) {
	$responsive-unitless: $responsive / ($responsive - $responsive + 1);
	$dimension: if(unit($responsive) == "vh", "height", "width");
	$min-breakpoint: $min / $responsive-unitless * 100;

	@media (max-#{$dimension}: #{$min-breakpoint}) {
		font-size: $min if-important($important);
		width: $min if-important($important);
		@if $height {
			height: $min if-important($important);
		}
	}

	@if $max {
		$max-breakpoint: $max / $responsive-unitless * 100;

		@media (min-#{$dimension}: #{$max-breakpoint}) {
			font-size: $max if-important($important);
			width: $max if-important($important);
			@if $height {
				height: $max if-important($important);
			}
		}
	}

	@if $fallback {
		font-size: $fallback if-important($important);
		width: $fallback if-important($important);
		@if $height {
			height: $fallback if-important($important);
		}
	}

	font-size: $responsive if-important($important);
	width: $responsive if-important($important);
	@if $height {
		height: $responsive if-important($important);
	}
}

@function if-important($important) {
	@return #{if($important, "!important", "")};
}
